{% extends 'base.html' %}
{% block title %}
    Homepage
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mb-3">Video lập trình của tôi</h1>
        <div class="video-list">
            {% for item in object_list %}
                <div class="media mb-3">
                    <img src="{{ item.picture.url }}" class="mr-3" alt="..." width="120">
                    <div class="media-body">
                        <a href=""><h5 class="mt-2">{{ item.name }}</h5></a>
                        <p>Educator: <a href=""> {{ item.author_name }}</a></p>
                        <p>Lessons: {{ item.num_lessons }}</p>
                        {{ item.description|truncatechars:300 }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
